38day/ted_en-20160408.xml
38day/ratings_train.txt
38day/naver_ratings.txt
38day/Untitled.ipynb
38day/.ipynb_checkpoints/Untitled-checkpoint.ipynb
35day/chrome_109_driver.exe
31day/yolo3/yolov3.weights
31day/yolo3/yolov2-tiny.weights
26day/Untitled.ipynb